<!DOCTYPE html>
<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <div>
      <p>
        Start : <input type="number" id="startVal">
      </p>
      <p>
        Finish: <input type="number" id="endVal">
      </p>
      <button onclick="sendData()">Process</button>
      <p id="demo"></p>
    </div>
    <script src="static/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsWQzyJJr6MyjtJHtw4jeOPCO5pwq6vyo&callback=initMap"></script>
  </body>
</html>
